In [24]:
import numpy as np
import pandas as pd

In [5]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [9]:
a = np.array([0, 1, 2, 3])
a.shape

(4,)

In [17]:
 np.sum([[7, 2,4], [0, 5,6]], axis=0)

array([ 7,  7, 10])

In [5]:
import pandas as pd 
# iris =   pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
# print(type(iris))
# df = iris.copy()
# df.head()
titanic = pd.read_csv("C:/Users/Dhruv/Desktop/Machine Learning/Datasets/Titanic/train.csv")
df = titanic.copy()
del df["Name"]
df.drop("Ticket",inplace=True, axis=1)
def f(s):
    if s=="male":
        return 0
    else:
        return 1
df["Gender"] = df["Sex"].apply(f)
del df["Sex"]
sur = df[df.Survived==0]
sur
# df.Age.fillna(sur.Age.mean(), inplace=True)
# df.where(df["Survived"]==0).fillna(sur.Age.mean(), inplace=True)
# df.Age.fillna(sur.Age.mean(), inplace=True)
# df.head(20)
# df.where(df["Survived"]==0, inplace=True)
# df
# df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Cabin,Embarked,Gender
0,1,0,3,22.0,1,0,7.2500,NaN,S,0
4,5,0,3,35.0,0,0,8.0500,NaN,S,0
5,6,0,3,NaN,0,0,8.4583,NaN,Q,0
6,7,0,1,54.0,0,0,51.8625,E46,S,0
7,8,0,3,2.0,3,1,21.0750,NaN,S,0
12,13,0,3,20.0,0,0,8.0500,NaN,S,0
13,14,0,3,39.0,1,5,31.2750,NaN,S,0
14,15,0,3,14.0,0,0,7.8542,NaN,S,1
16,17,0,3,2.0,4,1,29.1250,NaN,Q,0
18,19,0,3,31.0,1,0,18.0000,NaN,S,1
20,21,0,2,35.0,0,0,26.0000,NaN,S,0
24,25,0,3,8.0,3,1,21.0750,NaN,S,1
26,27,0,3,NaN,0,0,7.2250,NaN,C,0
27,28,0,1,19.0,3,2,263.0000,C23 C25 C27,S,0
29,30,0,3,NaN,0,0,7.8958,NaN,S,0
30,31,0,1,40.0,0,0,27.7208,NaN,C,0
33,34,0,2,66.0,0,0,10.5000,NaN,S,0
34,35,0,1,28.0,1,0,82.1708,NaN,C,0
35,36,0,1,42.0,1,0,52.0000,NaN,S,0
37,38,0,3,21.0,0,0,8.0500,NaN,S,0
38,39,0,3,18.0,2,0,18.0000,NaN,S,1
40,41,0,3,40.0,1,0,9.4750,NaN,S,1
41,42,0,2,27.0,1,0,21.0000,NaN,S,1
42,43,0,3,NaN,0,0,7.8958,NaN,C,0
45,46,0,3,NaN,0,0,8.0500,NaN,S,0
46,47,0,3,NaN,1,0,15.5000,NaN,Q,0
48,49,0,3,NaN,2,0,21.6792,NaN,C,0
49,50,0,3,18.0,1,0,17.8000,NaN,S,1
50,51,0,3,7.0,4,1,39.6875,NaN,S,0
51,52,0,3,21.0,0,0,7.8000,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...
844,845,0,3,17.0,0,0,8.6625,NaN,S,0
845,846,0,3,42.0,0,0,7.5500,NaN,S,0
846,847,0,3,NaN,8,2,69.5500,NaN,S,0
847,848,0,3,35.0,0,0,7.8958,NaN,C,0
848,849,0,2,28.0,0,1,33.0000,NaN,S,0
850,851,0,3,4.0,4,2,31.2750,NaN,S,0
851,852,0,3,74.0,0,0,7.7750,NaN,S,0
852,853,0,3,9.0,1,1,15.2458,NaN,C,1
854,855,0,2,44.0,1,0,26.0000,NaN,S,1
859,860,0,3,NaN,0,0,7.2292,NaN,C,0
860,861,0,3,41.0,2,0,14.1083,NaN,S,0
861,862,0,2,21.0,1,0,11.5000,NaN,S,0
863,864,0,3,NaN,8,2,69.5500,NaN,S,1
864,865,0,2,24.0,0,0,13.0000,NaN,S,0
867,868,0,1,31.0,0,0,50.4958,A24,S,0
868,869,0,3,NaN,0,0,9.5000,NaN,S,0
870,871,0,3,26.0,0,0,7.8958,NaN,S,0
872,873,0,1,33.0,0,0,5.0000,B51 B53 B55,S,0
873,874,0,3,47.0,0,0,9.0000,NaN,S,0
876,877,0,3,20.0,0,0,9.8458,NaN,S,0
877,878,0,3,19.0,0,0,7.8958,NaN,S,0
878,879,0,3,NaN,0,0,7.8958,NaN,S,0
881,882,0,3,33.0,0,0,7.8958,NaN,S,0
882,883,0,3,22.0,0,0,10.5167,NaN,S,1
883,884,0,2,28.0,0,0,10.5000,NaN,S,0
884,885,0,3,25.0,0,0,7.0500,NaN,S,0
885,886,0,3,39.0,0,5,29.1250,NaN,Q,1
886,887,0,2,27.0,0,0,13.0000,NaN,S,0
888,889,0,3,NaN,1,2,23.4500,NaN,S,1
890,891,0,3,32.0,0,0,7.7500,NaN,Q,0