In [3]:
import math
import numpy as np
import pandas as pd
from sklearn import datasets
# print(math.exp(2))
data = pd.read_csv("C:/Users/Dhruv/Desktop/Machine Learning/Datasets/Titanic/Project/0000000000002429_training_titanic_x_y_train.csv", delimiter=",")
data_test = pd.read_csv("C:/Users/Dhruv/Desktop/Machine Learning/Datasets/Titanic/Project/0000000000002429_test_titanic_x_test.csv", delimiter=",")
tit = data.copy()
# df = pd.DataFrame(data)
# df.columns = cancer.feature_names
# df['Y'] = cancer.target
# X = df.values
del data['Name']
del data['Ticket']
del data['Cabin']
def f(s):
    if s=="male":
        return 0
    else:
        return 1
def f2(s):
    if s=="S":
        return 1
    elif s=='C':
        return 2
    else:
        return 3
data["Gender"] = data["Sex"].apply(f)
data['Embark'] = data['Embarked'].apply(f2)
del data['Sex']
del data['Embarked']

del data_test['Name']
del data_test['Ticket']
del data_test['Cabin']
def f(s):
    if s=="male":
        return 0
    else:
        return 1
def f2(s):
    if s=="S":
        return 1
    elif s=='C':
        return 2
    else:
        return 3
data_test["Gender"] = data_test["Sex"].apply(f)
data_test['Embark'] = data_test['Embarked'].apply(f2)
del data_test['Sex']
del data_test['Embarked']
data_test.Age.fillna(data_test.Age.mean(),inplace=True)

sur=data[data.Survived==1]
mean1 = sur.Age.mean()
sur
nosur=data[data.Survived==0]
mean0 = nosur.Age.mean()
print(mean0)
notsurvived = nosur.copy()
notsurvived.Age.fillna(mean0,inplace=True)
notsurvived
print(mean1)
survived = sur.copy()
survived.Age.fillna(mean1,inplace=True)
survived
# sur = df[df.Survived==0]
survived = survived.append(notsurvived)
def f3(s):
    return s
survived['Y'] = survived['Survived'].apply(f3)
del survived['Survived']
survived
survived['Age']*=2
survived

# data
# data_test
# tit

30.857142857142858
28.138157894736842

     Pclass         Age  SibSp  Parch      Fare  Gender  Embark  Y
0         2   58.000000      1      0   26.0000       1       1  1
6         1   70.000000      1      0   53.1000       1       1  1
8         2   56.276316      0      0   13.0000       0       1  1
10        3   46.000000      0      0    7.5500       1       1  1
14        3   56.276316      0      0    7.7500       1       3  1
16        3   64.000000      0      0    7.8542       0       1  1
19        3   56.276316      0      0    7.7500       1       3  1
22        2   80.000000      0      0   15.7500       1       1  1
24        3   56.276316      0      0    7.2250       1       2  1
30        1   78.000000      1      1   79.6500       1       1  1
33        3   52.000000      0      0    7.8542       1       1  1
43        1   82.000000      0      0  134.5000       1       2  1
46        1   54.000000      0      0   76.7292       0       2  1
50        2  100.000000      0      0   10.5000       1       1  1
51        3    6.000000      1      1   15.9000       0       1  1
53        3   62.000000      1      1   20.5250       1       1  1
55        3   56.276316      0      0    7.7333       1       3  1
59        1   56.276316      1      0   51.8625       1       1  1
61        1   70.000000      0      0   26.5500       0       2  1
63        1   70.000000      1      0   83.4750       1       1  1
64        1   52.000000      0      0   78.8500       1       1  1
65        1   56.276316      0      0   79.2000       1       2  1
75        2   56.000000      0      0   13.0000       1       1  1
76        3    2.000000      1      1   11.1333       1       1  1
77        1   96.000000      1      0   39.6000       1       2  1
78        1   76.000000      1      0   71.2833       1       2  1
79        3   72.000000      1      0   17.4000       1       1  1
80        1   56.276316      1      0   89.1042       1       2  1
82        1   36.000000      1      0  227.5250       1       2  1
84        1  108.000000      1      0   78.2667       1       2  1
..      ...         ...    ...    ...       ...     ...     ... ..
613       3   52.000000      0      0    7.8958       0       1  0
615       3   66.000000      0      0    8.6625       0       2  0
617       2   36.000000      0      0   11.5000       0       1  0
618       3   42.000000      1      0    9.8250       1       1  0
619       2   54.000000      0      0   13.0000       0       1  0
621       3   70.000000      0      0    7.8958       0       2  0
624       1  102.000000      0      1   61.3792       0       2  0
628       3   44.000000      0      0    7.2500       0       1  0
630       3   61.714286      0      0    7.8958       0       1  0
631       1  116.000000      0      2  113.2750       0       2  0
632       3   61.714286      0      0    7.8958       0       2  0
633       3   32.000000      4      1   39.6875       0       1  0
638       3   48.000000      2      0   24.1500       0       1  0
640       3   61.714286      3      1   25.4667       1       1  0
643       3   34.000000      0      0    7.1250       0       1  0
644       1   61.714286      0      0   25.9250       0       1  0
646       3   18.000000      2      2   34.3750       1       1  0
647       1  116.000000      0      0   29.7000       0       2  0
648       2   56.000000      0      1   33.0000       0       1  0
649       3   52.000000      0      0    8.0500       0       1  0
650       3   94.000000      0      0    9.0000       0       1  0
651       3   61.714286      1      0   16.1000       0       1  0
653       3   94.000000      1      0   14.5000       1       1  0
654       3   61.714286      0      0    7.8958       0       1  0
656       3   72.000000      0      0    7.8958       0       1  0
657       3   76.000000      0      0    8.6625       0       1  0
659       3   61.714286      0      0    7.8292       0       3  0
662       1   94.000000      0      0   34.0208       0       1  0
664       3   61.714286      0      0    7.7500       0       3  0
666       3   44.000000      0      0    9.8375       1       1  0

[668 rows x 8 columns]